@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;400;500;700&display=swap');
.body-text {
    /*font-family: "Barlow Condensed", sans-serif;*/
    /*font-family: "Roboto", sans-serif;*/
     font-family: "Poppins",sans-serif,!important
}

.sec2col {
    height: 400px;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: yellow;
}

.quotesection {
    background-color: #5f9ea0;
    padding: 50px;
}

.box {
    transition: 1s;
}

.box:hover {
    transform: scale(1.3);
    z-index: 2;
}
.icon {
    transition: 1s;
}

.icon:hover {
    transform: scale(1.3);
    z-index: 2;
}
.bla {
    transition: 1s;
}

.bla:hover {
    transform: scale(1.3);
    z-index: 2;
}

.title h3 {
    font-size: 31px;
    font-family: "Tiro Devanagari Sanskrit", serif;
    color: rgb(0, 0, 0);
}

.title p {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-family: "Tiro Devanagari Sanskrit", serif;
    font-size: 15px;
    color: black;
}

.main {
    font-size: 30px;
    font-family: "Tiro Devanagari Sanskrit", serif;
    color: black;
}
.second-main {
    font-size: 20px;
    color: black;
    font-family: "Tiro Devanagari Sanskrit", serif;
}

.skills {
    height: 300px;
}

/* for quote  */
.quote {
    height: 600px;
}

.outerrr {
    border: 1px solid;
    border-radius: 10%;
    height: 310px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #2828287a;
}

.outerrr-one {
    height: 230px;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 11%;
    background-color: white;
    border-radius: 5%;
}

.quote-img {
    height: 180px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5%;
}

.quote-text {
    height: 380px;
    width: 90%;
    display: flex;
    /* align-items: center; */
    padding-top: 65px;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
}

.quote-p {
    font-size: 18px;
    line-height: 40px;
    color: white;
    font-family: cursive;
}

.quote-p:hover {
    color: lightcyan;
}

.carbutton {
    color: #33FF00;
}

/* 
for navbar */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* #002833  */

nav {
    position: relative;
    z-index: 99;
    width: 100%;
    /* background: #336699; */
    /*background: #32CD32;*/
    background:#48A14D;
    height: 55px;
}
nav .wrapper {
    position: relative;
    max-width: 1230px;
    padding: 0px 0px;
    height: 65px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .logo a {
    color: #c4bbbb;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.wrapper .nav-links {
    display: inline-flex;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav-links {
    margin-left: 9%;
}

.nav-links li {
    list-style: none;
}
.nav-links li a {
    color: #fffafa;
    text-decoration: none;
    font-size: 17px;
    /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 9px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
/* .nav-links li a:hover {
    background: #336699;
} */
.nav-links .mobile-item {
    display: none;
}
.nav-links .drop-menu {
    position: absolute;
    background: rgb(27, 26, 26);
    width: 250px;
    line-height: 45px;
    top: 85px;
    opacity: 1;
    visibility: hidden;
    box-shadow: white;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}
.mega-box .content {
    background: rgb(27, 26, 26);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(226, 219, 219, 0.15);
    opacity: 0.8;
}
.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .row header {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.content .row header:hover {
    color:red;
    

}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(231, 225, 225, 0.09);
}
.row .mega-links li {
    padding: 0 20px;
}
.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: white;
    font-size: 17px;
    display: block;
}
.row .mega-links li a:hover {
    color:red;
    font-size: large;
    font-weight: bold;
}
.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }
    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #b1b6bb;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(170, 53, 53, 0.842);
        transition: all 0.3s ease;
    }
    custom scroll bar ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #8da6be;
    }
    ::-webkit-scrollbar-thumb {
        background: #a7b9cc;
    }
    #menu-btn:checked ~ .nav-links {
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
        display: none;
    }
    #close-btn:checked ~ .btn.menu-btn {
        display: block;
    }
    .nav-links li {
        margin: 15px 10px;
    }
    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu {
        position: static;
        opacity: .8;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box {
        max-height: 100%;
    }
    #showDrop1:checked ~ .drop-menu,
    #showMega1:checked ~ .mega-box {
        max-height: 100%;
    }
    .nav-links .desktop-item {
        display: none;
    }
    .nav-links .mobile-item {
        display: block;
        color: #fffafa;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover {
        background: #c3c8cc;
    }
    .drop-menu li {
        margin: 0;
    }
    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }
    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(219, 209, 209, 0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }
    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }
    .row .mega-links li {
        margin: 0;
    }
    .content .row header {
        font-size: 19px;
    }
}
nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
.body-text div {
    font-size: 45px;
    font-weight: 600;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

/* header */

.fiji {
    height: 100px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.fiji-p p:hover {
    color: #a7b9cc;
}

.fiji-p2 p:hover {
    color: #a7b9cc;
}

.page-headings{
    font-family: Tiro Devanagari Sanskrit, serif;
    font-size:36px;
    color:#336699;
}

.page-para{
    font-family: Tiro Devanagari Sanskrit, serif;
    font-size:20px;
    color:#003328;
}

.nothing {
    color: rgba(1, 1, 68, 0.589);
}

@media screen and (max-width: 700px) {
    #fiji-id, #carouselExampleControls {
        display: none !important;
    }
}
